page-alta-plato {
    .imgPlato{
        height:30vh !important;
        width: auto !important;
    }
    .boton{
        height: 8em !important;
        //font-size: 0.9em;
        width: 8em;
        font-weight: bold;
    }
    .foto{
        height: 7em !important;
        width:  7em !important;
        font-weight: bold;
    }
}
