<ion-card>
  <ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <ion-card-title>
          <ion-icon color="secondary" small name='calendar'></ion-icon> {{reserva.fecha.substr(0,2) + '/' +
          reserva.fecha.substr(2,2) + '/' + reserva.fecha.substr(4,4)}}
        </ion-card-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon color="secondary" small name='restaurant' item-start></ion-icon>
          <ion-label>Mesa</ion-label>
          <ion-select style="max-width: 100% !important;" block [(ngModel)]="mesa" interface="popover">
            <ion-option block *ngFor="let mesa of listaMesas" [value]="mesa">Mesa: {{mesa.numero}} - Capacidad:
              {{mesa.capacidad}}</ion-option>
          </ion-select>

        </ion-item>

      </ion-col>
    </ion-row>
    <div style="font-size: 15px; font-weight: bold" color='grey'> Cant. Comensales: {{reserva.comensales}}</div>
  </ion-card-content>

  <!-- <div *ngFor="let item of itemPedido.items">
      <ion-item>
        <ion-avatar item-start>
          <img style="height: 7vh !important; width: 7vh !important;" src="{{devolverUrlImg(item)}}" />
        </ion-avatar>
        <p style="font-size: 17px; font-weight: bold">
          Turno: {{ item.turno }}
        </p>
      </ion-item>
    </div> -->


  <button ion-button block color="secondary" [disabled]="!mesa" (click)="confirmarReserva()">Confirmar</button>
  <button ion-button block color="danger" (click)="rechazarReserva()">Rechazar</button>
</ion-card>