page-mesas {

    ion-item {
        background-color: transparent !important;
      }

      ion-content {
          background-color: white !important;
      }

      .imgColores {
        width: 15%;
    }

  
}
