.home{
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }
}

.principal{
    background-color: #2f9d66;
}
.leaves {
    animation: spin 3s infinite;
    height: 50vh !important;
    width: 50vw !important;
}
.nombre {
    height: 30vh !important;
    width: 75vw !important;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}