page-imagenes {
    ion-loading.my-loading-class{
        .loading-wrapper{
            background: transparent;
            box-shadow: none;
            align-items: center;
        }
    }
}
.imgSlide{
    height: 100%;
    width: 100%;
}

.leaves {
    animation: spin 3s infinite;
    height: 70vh;
    width: 60vw;
    
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ion-md-thumbs-up{
    color: white !important;
}
.ion-ios-thumbs-up{
    color: white !important;
}

ion-loading.my-loading-class{
    .loading-wrapper{
        background: transparent;
        box-shadow: none;
        align-items: center;
        transform: rotate(360deg);
    }
}
ion-loading.algo{
    transform:scale(2);
    transition: transform 7s ease-out;
}
.algo{
    align-items: center;
}