@import "../theme/variables.scss";

ion-app.md{
    background-image: url('../assets/imgs/logoFondo.png') !important;
    background-color: $first-detail-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.flex{
    &-v{
        display: flex;
        flex-direction: column
    }
    &-h{
        display: flex;
        flex-direction: row
    }
}

.height{
    &-10{
        height: 10%;
    }
    &-20{
        height: 20%;
    }
    &-30{
        height: 30%;
    }
    &-40{
        height: 40%;
    }
    &-50{
        height: 50%;
    }
    &-60{
        height: 60%;
    }
    &-70{
        height: 70%;
    }
    &-80{
        height: 80%;
    }
    &-90{
        height: 90%;
    }
    &-100{
        height: 100%;
    }
}

.width{
    &-10{
        width: 10%;
    }
    &-20{
        width: 20%;
    }
    &-30{
        width: 30%;
    }
    &-35{
        width: 35%;
    }
    &-40{
        width: 40%;
    }
    &-50{
        width: 50%;
    }
    &-60{
        width: 60%;
    }
    &-70{
        width: 70%;
    }
    &-80{
        width: 80%;
    }
    &-90{
        width: 90%;
    }
    &-100{
        width: 100%;
    }
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center-vertical{
    display: flex;
    align-items: center;
}

.end-horizontal{
    display: flex;
    justify-content: flex-end
}

.first-item{
    margin-top: 1em;
}

.last-item{
    margin-bottom:1em;
}

.margin-top-bottom{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.confirm-alert{
    > div{
      background-color:$first-detail-color!important;
      text-align: center;
      font-weight: bold;
    }
    .alert-message{
        color: #ffffff;
        font-size: 1.3em;
        padding: 1em;
    }
    .alert-head{
        color: #ffffff !important;
    }
    .alert-button{
        color: #ffffff;
    }
}

.success-alert{
    text-align: center;
    > div{
        background-color: $first-detail-color !important;
    }
}

.error-alert{
    text-align: center;
    > div{
        background-color: $error-color !important;//$error-color !important;
    }
}


.item-md {
    border-radius: 12px;
}

.item-input .label-md{
    margin-top: 5px;
}

.item-label-floating .text-input-md{
    margin-top: 5px;
    margin-bottom: 5px;
}

.scroll-content{
    background-color: $first-detail-color;
}

.fila-image-container{
    height: 100%;
    width: 65px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.fila-image{
    max-width: 100%;
    padding: 0.1em;
    position: absolute;
    display: block;
    max-height: 100%;
}