page-encuesta-enstrada-salida {

    .pregFondo {
        background: color($colors, dark);
        color: white;
    }

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }

}
