page-qr-propina {
    .imgQr{
        height:40vh !important;
        width: auto !important;
    }
    .boton{
        height: 10em !important;
        font-size: 1em;
        width: 10em;
        font-weight: bold;
    }
}
