
@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "../../theme/variables.scss";

page-registrarse {
    background-color: $first-detail-color;
    
    
   /* .scroll-content{
        background-color: $first-detail-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px !important;
    }*/
  


    

}