page-foto-cliente {
    .img{
        height:45vh !important;
        width: auto !important;
    }
    .boton{
        height: 10em !important;
        font-size: 1em;
        width: 10em;
        font-weight: bold;
        
    }

    .camara{
        font-size: 50px;
    }
}
