<ion-header>
  <ion-navbar>
    <ion-title>MESA {{ mesa.numero }} - NUEVO PEDIDO</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipomenu">
      <ion-segment-button value="minutas">
        Minutas
      </ion-segment-button>
      <ion-segment-button value="frios">
        Fríos
      </ion-segment-button>
      <ion-segment-button value="calientes">
        Calientes
      </ion-segment-button>
      <ion-segment-button value="postres">
        Postres
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        Bebidas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding [ngSwitch]="tipomenu">
  <button ion-button block color='secondary' (click)='agregarPedido()'>AGREGAR</button>

  <ion-searchbar (ionInput)="getItems($event)" [placeholder]="'Buscar por nombre'"></ion-searchbar>

  <ion-grid *ngSwitchCase="'minutas'">
    <ion-row>
      <ion-col col-9>
        NOMBRE
      </ion-col>

      <ion-col col-2 text-center>
        CANT
      </ion-col>
      <ion-col col-1 text-center>
        S
      </ion-col>
    </ion-row>

    <ion-row align-items-center *ngFor="let item of menu">
      <ion-col col-9>
        {{item.nombre}}
      </ion-col>

      <ion-col col-2 text-center>
        <div *ngFor="let p of pedido">
          <div *ngIf="pedido && item.id == p.id">{{ p.cantidad }}</div>
        </div>
      </ion-col>

      <ion-col col-1 text-center>
        <div>
          <ion-icon name="arrow-round-up" color="primary" (click)="seleccionarPedido(item, 1)"></ion-icon>
          <br><br>
          <ion-icon name="arrow-round-down" color="primary" (click)="seleccionarPedido(item, -1)"></ion-icon>
        </div>
        <!-- <ion-checkbox color="primary" [(ngModel)]="item.pedido" (ionChange)="seleccionarPedido(item)"></ion-checkbox> -->
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid *ngSwitchCase="'frios'">

  </ion-grid>

  <ion-grid *ngSwitchCase="'calientes'">

  </ion-grid>


  <ion-grid *ngSwitchCase="'postres'">

  </ion-grid>


  <ion-grid *ngSwitchCase="'bebidas'">

  </ion-grid>



</ion-content>