page-alta-pedido {
  // ion-item {
  //     background-color: transparent !important;
  //   }

  ion-content {
    background-color: white !important;
  }
  //   .col{
  //     background: rgb(233, 233, 233);

  // }
  .row {
    border: solid 0.017px rgb(128, 128, 128) !important;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  ion-grid {
    background-color: color($colors, s_light);
  }

  .itemsMenu {
    font-size: 110%;
  }

  .addItem {
    font-size: 150%;
  }
}
