page-alta-cliente {
    .fila{
        flex: 1;
        width: 100%;
        //flex-direction: column;
    }

}

.home{
    scroll-content{
        display: flex;
        flex-direction: row;
    }
}
.registroImg{
    height: 50vh !important;
    width: auto !important;
}
.como{
    height: 30vh !important;
    width: auto !important;
}
.comoCol{
    background-color: white;
    box-shadow: 0 2px 4px 0;
}
.carta{
    background-color: white;
}
.tomadaAnonImg{
    height: 50vh !important;
    width: auto !important;
}
